<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="catel">
			<section name="logging" type="Catel.Logging.LoggingConfigurationSection, Catel.Core"/>
		</sectionGroup>
	</configSections>
	
	<catel>
		<logging>
			<listeners>
				<listener type="Catel.Logging.FileLogListener" FilePath="{AppDataRoaming}\Logs\ErrorLog" IgnoreCatelLogging="false" IsDebugEnabled="false" IsInfoEnabled="false" IsWarningEnabled="false" IsErrorEnabled="true" MaxSizeInKiloBytes="250" TimeDisplay="DateTime"/>
				<listener type="Catel.Logging.FileLogListener" FilePath="{AppDataRoaming}\Logs\WarningLog" IgnoreCatelLogging="false" IsDebugEnabled="false" IsInfoEnabled="false" IsWarningEnabled="true" IsErrorEnabled="false" MaxSizeInKiloBytes="250" TimeDisplay="DateTime"/>
				<listener type="Catel.Logging.FileLogListener" FilePath="{AppDataRoaming}\Logs\InfoLog" IgnoreCatelLogging="false" IsDebugEnabled="false" IsInfoEnabled="true" IsWarningEnabled="false" IsErrorEnabled="false" MaxSizeInKiloBytes="250" TimeDisplay="DateTime"/>
			</listeners>
		</logging>
	</catel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
