<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>29</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>False</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Unc</InstallFrom>
    <InstallUrl>\\nas.home.kb9kld.org\safe\ClickOnce\Radio_Automation\</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>False</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>Radio Automation</ProductName>
    <PublishDir>bin\Release\net8.0-windows\win-x64\app.publish\</PublishDir>
    <PublishUrl>Y:\ClickOnce\Radio_Automation\</PublishUrl>
    <PublisherName>jtdev.org</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>True</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <TargetFramework>net8.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <SkipPublishVerification>false</SkipPublishVerification>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <History>True|2025-09-17T15:34:17.0735039Z||;True|2024-12-05T10:22:32.5356757-06:00||;False|2024-12-05T10:21:07.4653834-06:00||;True|2024-12-03T12:03:45.9762254-06:00||;True|2024-10-29T08:24:50.0506103-05:00||;True|2024-10-29T08:20:43.7224740-05:00||;True|2024-10-29T08:17:45.8978122-05:00||;False|2024-10-29T08:14:53.6214172-05:00||;False|2024-10-29T08:13:27.6714526-05:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.8.0.x64">
      <Install>true</Install>
      <ProductName>.NET Desktop Runtime 8.0.8 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>